@import "../../scss/config";

// html, body, page是兼容h5的写法。
html, body, page {
    background: #ffffff;
}

.container {
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo {
    width: px2rem(120);
    position: absolute;
    left: px2rem(10);
    top: px2rem(10);
}

.bg {
    width: px2rem(375);
}
