@import "./config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #f5f5f5;
    font-size: 12px;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
    height: 100%;
    line-height: 1;
}

.iconfont {
    font-size: inherit;
    line-height: 1;
}

// （百度智能小程序官方提供）为了兼容iPhoneX底部安全区，我们提供了一组兼容样式。官方给的案例就是如此，单位就是px，不必修改。
.swan-security-padding-bottom {
    padding-bottom: 34px;
}

.swan-security-margin-bottom {
    margin-bottom: 34px;
}

.swan-security-fixed-bottom {
    bottom: 34px;
}
